<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body >
        {%include 'partials/navbar.html'%}
<div class="container m-4 mx-auto" style="width: 90%;">
     
        <div class="card m-4" style="width: 60%;box-shadow:rgb(6 6 6) 0px 0px 19px 4px;">
          
        <input style="position: relative; padding-left: 35px;border: none;"  type="text" id="search-query" value="" placeholder="search with bookmark title">
        
        <i class="fa-solid fa-magnifying-glass" style="height: 20px; position: absolute;top:24%; left: 2%;"></i>
        
        </div>
        <div id="results" style="border: none;" class="card m-4 pl-4"></div>


        <script>
                $(document).ready(function() {
                    $('#search-query').on('keyup', function() {
                        var query = $(this).val();
                                        
                        $.ajax({
                            url: '{% url "search" %}', //  URL pattern name
                            
                            data: {
                                q: query
                            },
                            
                            success: function(data) {
                                $('#enth').empty();
                                $('#pagination').empty();

                                if (data.length > 0 &&  query!='') {
                                    data.slice(0,2).forEach(function(bookmark) {
                                        $('#enth').append(
                                            '<ul id="'+bookmark.title+'"  class="card" style="background-color: #f2f3cc; box-shadow:rgb(6 6 6) 0px 0px 19px 4px;border-radius: 30px;">'
           +'<div style="width: 70%;height: 200px;" class="mx-auto mt-4">'+
            '<li><span>Title</span> :  '+bookmark.title+'</li>'
            +'<li><span>Url</span> &nbsp;&nbsp; : <a href="">'+bookmark.url+' </a> </li>'
            +'<li><span>time</span> : '+bookmark.time+', date:  '+bookmark.date+'</li>'
            +'<div class="m-sm-4 m-2">'+
            '<a href=""><input class="btn btn-lg btn-info" type="submit" value="update"></a>'+
            '<a href=""><input class="btn btn-lg btn-danger" type="submit" value="delete"></a>'+
          '</div> ' +
        '</div>'+
        '</ul>'
        
                                        );
                                });
                                   
                                } else {
                                    $('#enth').append('<h4 class="mx-auto p-3" style="background-color: antiquewhite; box-shadow:rgb(6 6 6) 0px 0px 19px 4px;border-radius: 30px;">No Search found</h4>');
                                    
                                }
                                
                                
                            },
                            error: function(xhr, status, error) {
                                console.error('Error fetching bookmarks:', error);
                            }
                        });
                    
                    
                    });
                    
                });
            </script>





       
    <div id="enth">
        {% for list in page_obj %}
           <!--list , update , delete-->
        <ul id="{{ list.title|upper }}"  class="card" style="background-color: #f2f3cc; box-shadow:rgb(6 6 6) 0px 0px 19px 4px;border-radius: 30px;">
           <div style="width: 70%;height: 200px;" class="mx-auto mt-4">
                
            <li><span>Title</span> :  {{ list.title|upper }}</li>
            <li><span>Url</span> &nbsp;&nbsp; : <a href="{{ list.url }}">{{ list.url }} </a> </li>
            <li><span>time</span> : {{ list.time }}, date:  {{list.date}}</li>
            <div class="m-sm-4 m-2">
            <a  href="{%url 'update' list.id %}"><input class="btn btn-lg btn-info" type="submit" value="update"></a>
            <a  href="{%url 'delete' list.id %}"><input class="btn btn-lg btn-danger" type="submit" value="delete"></a>
          </div>  
        </div>
        </ul>
        {% endfor %}
    </div>
    
<nav class="navbar" aria-label="Page navigation example" style="margin:auto; max-width: 80%;">  <!--pagination-->
        {% if page_obj.has_previous %}
            
                <a href="?page=1" class="page-link">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="previous">&laquo; previous</a>
        {% endif %}

        {% for page_number in page_obj.paginator.get_elided_page_range %}
            {% if page_obj.number == page_number %}
                    <span class="page-link">{{ page_number }}</span>
            {% else %}
                    <a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">next &raquo;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a>
        {% endif %}
</nav>
</div>
</body>
</html>