{% extends 'layout/app-layout.html' %}

{% block 'content' %}
 <div class="signpgDiv container border mt-5" style="background-color: lightgrey; max-width: 735px;">
  <h2 style="text-align: center;font-weight: 900;font-style: italic;" class="my-4 pb-4 text-dark">Sign Up</h2>
  <form class="signupForm" method="post" style="font-weight: bolder;">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="text-center mb-3">
    <button type="submit" class="btn btn-primary">Sign Up</button>
   
    
  </div>
  <div class="mb-4" style="text-align: center;font-size: large;">
  <a class="text-dark" href="{% url 'login' %}">Login</a>
</div>
  </form>
</div>
{% endblock %}
